{% extends "base.html.twig" %}

{% block body %}
<body  style="background-color:#BCAAA4" >
    

<h1 class="col-md-6 mx-auto text-center" style="color:#654460" >Bienvenue à NewEntreprise</h1>
<br><br>
<div style="text-align:center">
<img class=" bg-light .border-warning" src="..\floriane-vita-FyD3OWBuXnY-unsplash.jpg"  width="450" height="450"  alt="">
</div><br><br>
<h3 class="col-md-4 mx-auto text-center">{{slogan}}</h3> 


</body>


{% endblock %}